:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f0f0f0;
  --navbar-background-color: #201e2b;
  --primary-link-color: #ccc;
  --primary-border-color: #ff0036;
  --primary-button-color: #131313;
  --primary-font-color: #262626;
  --secondary-font-color: #505050;
}

#aboutus-section {
  margin-top: 40px;
  .aboutus-header {
    margin-top: 15px;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    color: var(--primary-border-color);
  }

  p {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: var(--primary-font-color);

    span {
      color: var(--primary-border-color);
    }
  }

  .aboutus-left-section {
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--primary-font-color);

    .desc {
      position: relative;
      background: var(--secondary-background-color);
      height: 42px;
      transition: margin 1s linear;

      .fa-plus-circle,
      .fa-minus-circle {
        position: absolute;
        top: 35%;
        left: 3%;
      }

      .text {
        margin-top: 10px;
        margin-left: 25%;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
      }

      .hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.6s, opacity 0.6s linear;
      }

      .answer {
        margin-top: 10px;
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        color: var(--secondary-font-color);
        transition: all 0.4s ease-in;
      }
    }

    .show {
      margin-bottom: 135px !important;
      transition: margin 1s;
      color: var(--primary-border-color) !important;
    }
  }

  .aboutus-right-section {
    margin-top: 45px;

    .image-container {
      position: relative;
      left: 52%;
      transform: translateX(-48.5%);

      img {
        position: absolute;
      }

      .middle {
        left: 12%;
        z-index: 5;
        top: -13px;
      }

      .hex-2 {
        right: 7%;
        z-index: 2;
      }

      .right {
        right: 7%;
      }
    }
  }
}

.scroll-bar {
  margin-top: 210px;
  position: relative;
  width: 251px;
  height: 1px;
  background: var(--primary-font-color);

  .scroll-dot {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.aboutus-logos {
  margin-top: 50px;

  .inner-text {
    margin-top: 10px;
    text-align: center;
  }

  p {
    margin-top: 21px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  .flat-design,
  .retina,
  .responsive,
  .clean {
    .flat-design-image,
    .retina-image,
    .responsive-image,
    .clean-image {
      position: relative;

      .love-image,
      .retina-icon,
      .Responsive,
      .clean {
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -49%);
      }
    }
  }
}

@media all and (max-width: 320px) {
  #aboutus-section {
    margin-top: 25px;

    .aboutus-left-section {
      margin-top: 30px;
    }

    .aboutus-right-section {
      .image-container {
        .left {
          left: -3%;
        }

        .hex {
          left: -3%;
        }

        .middle {
          left: 7.5%;
        }

        .hex-2 {
          right: 4%;
        }

        .right {
          right: 4%;
        }
      }
    }
  }
}

@media all and (min-width: 375px) {
  #aboutus-section {
    .aboutus-right-section {
      .image-container {
        .left {
          left: 2%;
        }

        .hex {
          left: 2%;
        }

        .middle {
          left: 14%;
        }

        .hex-2 {
          right: 9%;
        }

        .right {
          right: 9%;
        }
      }
    }
  }
}

@media all and (min-width: 411px) {
  #aboutus-section {
    .aboutus-left-section {
      .show {
        margin-bottom: 120px !important;
      }
    }

    .aboutus-right-section {
      .image-container {
        .left {
          left: 5%;
        }

        .hex {
          left: 5%;
        }

        .middle {
          left: 17%;
        }

        .hex-2 {
          right: 12%;
        }

        .right {
          right: 12%;
        }
      }
    }
  }
}

@media all and (min-width: 414px) {
  #aboutus-section {
    .aboutus-left-section {
      .show {
        margin-bottom: 115px !important;
      }
    }

    .aboutus-right-section {
      .image-container {
        .left {
          left: 4%;
        }

        .hex {
          left: 4%;
        }

        .middle {
          left: 17%;
        }

        .hex-2 {
          right: 11%;
        }

        .right {
          right: 11%;
        }
      }
    }
  }
}

@media all and (min-width: 576px) {
  #aboutus-section {
    .aboutus-left-section {
      .show {
        margin-bottom: 85px !important;
      }
    }

    .aboutus-right-section {
      .image-container {
        .left {
          left: 14%;
        }

        .hex {
          left: 14%;
        }

        .middle {
          left: 24%;
        }

        .hex-2 {
          right: 21%;
        }

        .right {
          right: 21%;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  #aboutus-section {
    .aboutus-right-section {
      .image-container {
        .left {
          left: 1%;
        }

        .hex {
          left: 1%;
        }

        .middle {
          top: -20px;
          left: 13%;
        }

        .hex-2 {
          right: 8%;
        }

        .right {
          right: 8%;
        }
      }
    }
  }

  .scroll-bar {
    margin-top: 410px;
  }
}
