:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f0f0f0;
  --alternative-background-color: #c4c4c4;
  --navbar-background-color: #201e2b;
  --primary-link-color: #ccc;
  --primary-button-color: #131313;
  --primary-font-color: #262626;
  --secondary-font-color: #505050;
  --tertiary-font-color: #a4a4a4;
}

@mixin center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.clients {
  position: relative;
  color: var(--primary-background-color);
  margin-bottom: 160px;

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 705px;
  }

  .heading {
    padding-top: 43px;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;

    span {
      color: var(--primary-background-color);
    }
  }

  p {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin-top: 40px;
    width: fit-content;

    span {
      color: var(--primary-background-color);
    }
  }

  .header-text {
    width: 70%;
    @include center();
  }

  .inner-heading {
    margin-top: 60px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
  }

  .inner-text {
    font-size: 14px;
  }

  .client-pic {
    margin-top: 20px;
    @include center();
  }

  .client-name {
    margin-top: 20px;
    color: var(--primary-background-color);
    @include center();
  }

  .review-btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;

    &:active {
      background-color: #ed1111 !important;
      border-color: #ed1111 !important;
    }

    svg {
      margin-left: 8px;
      font-size: 21px;
    }
  }
}

.client-bar {
  margin-top: 80px !important;
  margin-bottom: 45px;
}

@media all and (max-width: 320px) {
  .clients {
    .inner-heading {
      font-size: 16.5px;
    }

    .cover {
      height: 725px;
    }
  }
}

@media all and (min-width: 768px) {
  .clients {
    p {
      font-size: 16px;
      line-height: 24px;
    }

    .inner-text {
      font-size: 15px;
    }

    .logos {
      margin-top: 230px;
    }

    .cover {
      width: 100vw;
      height: 555px;
    }
  }

  .client-bar {
    margin-top: 160px !important;
  }
}

@media all and (min-width: 1366px) {
  .clients {
    .heading {
    font-size: 30px;
  }

  .inner-text {
    font-size: 16px;
  }

  .inner-heading {
    font-size: 18px;
  }

  p {
    font-size: 17px;
    line-height: 26px;
  }
}
}

@media all and (min-width: 1600px) {
  .clients {
    .heading {
      font-size: 30px;
    }

    .inner-heading {
      font-size: 18px;
    }
  }
}

@media all and (min-width: 1920px) {
  .clients {
    p {
      font-size: 16px;
    }
  }
}
