:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f0f0f0;
  --alternative-background-color: #c4c4c4;
  --services-background-color: #272727;
  --alternative-services-background-color: #3d2329;
  --secondary-services-background-color: #343434;
  --blog-background-color: #000000;
  --navbar-background-color: #201e2b;
  --primary-link-color: #ccc;
  --primary-border-color: #ff0036;
  --primary-button-color: #131313;
  --primary-font-color: #262626;
  --secondary-font-color: #505050;
  --tertiary-font-color: #a4a4a4;
  --footer-background-color: #333333;
}

.contact {
  font-weight: normal;

  .heading {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px;

    span {
      color: var(--primary-border-color);
    }
  }

  p {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 50px;
  }

  .contact-address {
    position: relative;
    .address {
      width: 300px;
      height: 150px;
      color: var(--primary-background-color);
      background: var(--primary-font-color);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .contact-form {
    margin-top: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .title {
      padding-top: 43px;
      margin-bottom: 50px;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
    }

    .form-control {
      width: 95%;
      margin-bottom: 15px;
    }

    .btn {
      margin-top: 20px;
      margin-bottom: 36px;
      background: var(--primary-font-color);
      border-color: var(--primary-font-color);
      margin-left: 251px;
    }
  }
}

#footer {
  margin-top: 55px;
  background: var(--footer-background-color);
  font-style: normal;
  color: var(--primary-background-color);

  .footer-logo {
    margin-top: 45px;

    .logo-text {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 22px;
      line-height: 30px;
    }
  }

  .copyright {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-top: 50px;
    margin-bottom: 55px;
  }
}

@media all and (max-width: 320px) {
  .contact {
    .contact-form {
      .btn {
        margin-left: 214px;
      }
    }

    .contact-address {
      .address {
        width: 280px;
      }
    }
  }
}

@media all and (min-width: 375px) {
  .contact {
    .contact-form {
      .btn {
        margin-left: 265px;
      }
    }
  }
}

@media all and (min-width: 411px) {
  .contact {
    .contact-form {
      .btn {
        margin-left: 300px;
      }
    }
  }
}

@media all and (min-width: 414px) {
  .contact {
    .contact-form {
      .btn {
        margin-left: 305px;
      }
    }
  }
}

@media all and (min-width: 576px) {
  #contact-section {
    max-width: none;

    .contact {
      .contact-form {
        .btn {
          margin-left: 460px;
        }
      }
    }
  }
}
