:root {
  --primary-background-color: #ffffff;
  --navbar-background-color: #201e2b;
  --primary-link-color: #ccc;
  --primary-button-color: #131313;
}

#landing-section {
  margin-top: 54px;
  position: relative;
  .image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 3;
    background: rgba(0,0,0, 0.4);
  }

  img {
    width: 100%;
    height: 300px;
  }

  .landing-inner-text {
    position: absolute;
    z-index: 4;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -62%);
    width: fit-content;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: var(--primary-background-color);

    .uncover {
      color: var(--primary-background-color);
      padding-left: 8px;
    }

    .fa-angle-right {
      color: var(--primary-border-color);
    }

    p {
      font-size: 15px;
      line-height: 19px;
      text-align: center;
    }
  }

  .btn {
    width: 150px;
    height: 50px;
    margin-top: 25px;
    border-radius: 0;
    color: var(--primary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }

  .feature {
    background: var(--primary-background-color);
    color: var(--primary-button-color);
  }

  .portfolio-btn {
    background: var(--primary-button-color);
  }
}

@media all and (min-width: 411px) {
  #landing-section {
    .landing-inner {
      flex-direction: row !important;

      .feature {
        margin-right: 15px;
      }
    }
  }
}

@media all and (min-width: 576px) {
  .landing-container {
    position: relative;
    width: 100%;
  }

  #landing-section {
    img {
      width: fit-content;
      height: 400px;
    }
    .image-cover {
      height: 100%;
    }

    .landing-inner-text {
      width: 100%;
      top: 50%;

      .text-container {
        justify-content: center;
        .text {
          width: 508px;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  #landing-section {
    img {
      height: 500px;
    }

    .landing-inner-text {
      top: 45%;
      transform: translate(-50%, -55%);
    }

    .landing-inner {
      z-index: 4;
      position: absolute;
      top: 63%;
      left: 50%;
      transform: translate(-50%, -37%);
    }
  }
}

@media all and (min-width: 992px) {
  #landing-section {
    img {
      height: 600px;
    }

    .landing-inner-text {
      font-size: 30px;
      .text-container {
        .text {
          width: 90%;
          font-size: 16px;
        }
      }
    }
  }
}

@media all and (min-width: 1366px) {
  #landing-section {
    img {
      height: 700px;
    }

    .landing-inner-text {
      font-size: 30px;

      .text-container {
        .text {
          font-size: 18px;
        }
      }
    }
  }
}

@media all and (min-width: 1600px) {
  #landing-section {
    .btn {
      font-size: 17px;
      width: 170px;
      font-size: 18px;
    }
    .landing-inner-text {
      .text-container {
        .text {
          width: 80%;
        }
      }
    }
  }
}

@media all and (min-width: 1920px) {
  #landing-section {
    img {
      width: 1920px;
      height: 870px;
    }

    .btn {
      font-size: 18px;
    }
  }
}
