:root {
  --primary-background: #E5E5E5;
  --secondary-background-color: #f0f0f0;
  --alternative-background-color: #c4c4c4;
  --navbar-background-color: #201e2b;
  --primary-link-color: #ccc;
  --primary-border-color: #ff0036;
  --primary-button-color: #131313;
  --primary-font-color: #262626;
  --secondary-font-color: #505050;
  --tertiary-font-color: #a4a4a4;
  --primary-btn-color: #007bff;
  --warning-btn-color: #ffc107;
  --premium-btn-color: #b105f5;
}

#product-section {
  background: var(--primary-background);

  .col, .quote {
    display: flex;
    justify-content: center;
  }

  .quote {
    padding-bottom: 60px;
  }

  .basic {
    color: var(--primary-btn-color);
    font-weight: bold;
  }

  .classic {
    color: var(--warning-btn-color);
    font-weight: bold;
  }

  .unique {
    color: var(--premium-btn-color);
    font-weight: bold;
  }
}

.product {
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: var(--primary-font-color);
  padding-top: 50px;
  margin-bottom: 10px;
  text-align: center;

  span {
    color: var(--primary-border-color);
  }
}

.product-text,
.further-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  margin-bottom: 110px;
}

.product-features {
  margin-top: 50px;
  margin-bottom: 50px;

  .product-inner-text {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 40px;
  }
}

.further-info {
  margin-bottom: initial;

  span {
    font-weight: bold;
  }
}

@media all and (max-width: 320px) {
  .further-info {
    margin-top: 30px;
  }
}

@media all and (min-width: 576px) {
  #product-section {
    max-width: none;
  }
}

@media all and (min-width: 768px) {
  .product-features {
    position: relative;
    .bars {
      position: absolute;
      height: 45px;
      background: var(--alternative-background-color);
    }

    .bar-1 {
      top: 35%;
      left: 0;
      width: 200px;
    }

    .bar-2 {
      top: 49%;
      left: 6.7%;
      width: 150px;
    }

    .bar-3 {
      top: 63%;
      left: 13.2%;
      width: 100px;
    }

    .bar-4 {
      top: 35%;
      right: 0;
      width: 200px;
    }

    .bar-5 {
      top: 49%;
      right: 6.7%;
      width: 150px;
    }

    .bar-6 {
      top: 63%;
      right: 13.2%;
      width: 100px;
    }
  }
}

@media all and (min-width: 992px) {
  .product-features {
    .bar-1 {
      width: 300px;
    }

    .bar-2 {
      left: 4.7%;
      width: 250px;
    }

    .bar-3 {
      left: 9.5%;
      width: 200px;
    }

    .bar-4 {
      width: 300px;
    }

    .bar-5 {
      right: 4.7%;
      width: 250px;
    }

    .bar-6 {
      right: 9.5%;
      width: 200px;
    }
  }
}

@media all and (min-width: 1200px) {
  .product-features {
    .bar-1 {
      width: 405px;
    }

    .bar-2 {
      left: 4.1%;
      width: 355px;
    }

    .bar-3 {
      left: 8.4%;
      width: 305px;
    }

    .bar-4 {
      width: 405px;
    }

    .bar-5 {
      right: 4.1%;
      width: 355px;
    }

    .bar-6 {
      right: 8.4%;
      width: 305px;
    }
  }
}

@media all and (min-width: 1366px) {
  .product {
    font-size: 30px;
  }

  .product-text, .further-info {
    font-size: 18px;
  }
}

@media all and (min-width: 1600px) {
  .product-features {
    .product {
      font-size: 30px;
    }

    .product-inner-text {
      font-size: 16px;
    }
  }

  .further-info {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
