//mixins
@mixin fhover($color) {
  &:hover {
    transition: 350ms ease-in-out;
    color:  $color;
    transform: scale(1.2) !important;
    margin-bottom: 10px;
  } 
}

.services {
  background: var(--services-background-color);
  color: var(--primary-background-color);
  font-weight: normal;

  .heading {
    margin-top: 45px;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px;

    span {
      color: var(--primary-background-color);
    }
  }

  p {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 50px;
  }

  .service-container {
    margin-bottom: 40px;

    .service-title {
      position: relative;
      flex-direction: column;
      align-items: center;

      img {
        width: fit-content;
      }

      .service-icon,
      .service-icon-html,
      .service-icon-word,
      .service-icon-app,
      .service-icon-ui,
      .service-icon-responsive {
        position: absolute;
        top: 42%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        transform: translateY(-68%);
      }

      .title {
        padding-top: 10px;
        font-size: 17px;
        line-height: 21px;
        text-transform: uppercase;
      }
    }

    .inner-content-dev,
    .inner-content {
      margin-top: 31px;
      background: var(--secondary-services-background-color);
    }
  }
}

//BLOG

.blog {
  background: var(--blog-background-color);
  height: 680px;
  font-weight: normal;
  color: var(--primary-background-color);
  margin-bottom: 65px;

  .heading {
    margin-top: 45px;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 45px;

    span {
      color: var(--primary-background-color);
    }
  }

  .blog-container {
    margin-bottom: 20px;
    align-items: center;
    img {
      width: fit-content;
      transition: 500ms ease-in-out
    }

    svg {
      font-size: 77px;
    }
  }

  .facebook svg {
    @include fhover(#385898)
  }
  
  .twitter svg {
    @include fhover(#55acee)
  }

  .linkedin svg {
    @include fhover(#0073b1)
  }

  .instagram svg {
    @include fhover(#e4405f)
  }
}

@media all and (min-width: 576px) {
  .services p {
    font-size: 15px;
    line-height: 22px;
  }
}

@media all and (min-width: 768px) {
  .services p {
    line-height: 24px;
  }

  .blog {
    height: 300px;
  }
}

@media all and (min-width: 1200px) {
  .services p {
    line-height: 28px;
  }
}

@media all and (min-width: 1366px) {
  .services {
    .heading {
    font-size: 30px;
  }

  p {
    font-size: 17px;
  }

  .inner-content, .inner-content-dev {
    font-size: 17px;
  }
}

.blog-container p {
  font-size: 17px;
}
}

@media all and (min-width: 1600px) {
  .services {
    .heading {
      font-size: 30px;
    }

    p {
      font-size: 17px;
    }
  }

  .blog {
    .heading {
      font-size: 30px;
    }
  }
}

@media all and (min-width: 1920px) {
  .services {
    .service-container {
      .service-title {
        .title {
          font-size: 18px;
        }
      }
    }
  }
}
