.-container-- {
    .card-body {
        padding: 0;
        flex: 1 1 auto;
        min-width: 500px;
        align-items: center;
    }

    .first {
        margin-top: -18px;
    }

    .scroll-area-md {
        height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .list-group {
        width: 100%;
        padding: .5rem;

        .dot-inProgress {
            color: rgb(253, 126, 20);
            background-color: rgb(253, 126, 20);
        }

        .dot-completed {
            color: rgb(58, 196, 125);
            background-color: rgb(58, 196, 125);
        }

        .dot-onhold {
            color: #007fff;
            background-color: #007fff;
        }
        .dot-notStarted {
            color: #8b16f2;
            background-color: #8b16f2;
        }
        .dot-cancelled {
            color: #dc3545;
            background-color: #dc3545;
        }
    }

    .content-wrapper {
        display: flex;
        flex: 1 1;
        position: relative;
        align-items: center;
        flex-direction: row;

        .widget-content-left {
            font-size: 15px;
            font-weight: bold;
        }

        .widget-content-right {
            .btn {
                padding: .3rem .45rem;
            }
        }
    }

    .custom-control {
        margin-left: .625rem;
        position: relative;
        display: block;
        min-height: 1.32rem;
        padding-left: 1.5rem;
    }

    .custom-control-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .badge {
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 10px;
        min-width: 19px;
    }

    .widget-subheading {
        text-transform: capitalize;
        opacity: .5;
    }

    .widget-content-right.widget-content-actions {
        transition: opacity .2s;
        margin-left: auto;
        visibility: hidden;
        opacity: 0;
    }

    .content-wrapper:hover .widget-content-right.widget-content-actions {
        visibility: visible;
        opacity: 1;
    }

    .tick svg {
        width: 0.7em;
        height: 0.7em;
        font-size: 35px;
    }
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;

    &:before {
        border-radius: .25rem;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        position: absolute;
        top: .16rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        pointer-events: none;
        background-color: #fff;
        border: 1px solid #adb5bd;
    }

    &:after {
        background: no-repeat 50%/50% 50%;
        position: absolute;
        top: .16rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
    }
}